.drop-shadow {
  box-shadow: 0 0 10px rgba(125, 120, 120, 0.8);
}

.border-gray {
  border: 2px solid rgba(125, 120, 120, 0.7);
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
}

.fs-25 {
  font-size: 25px;
}

.fs-15 {
  font-size: 15px;
}

.bg-opacity {
  --bs-bg-opacity: 0.5;
}

/* --------------------- Dark Scroll Bar ------------------ */

/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 6px;
  border: 2px solid #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

/* For Firefox */
html {
  scrollbar-color: #444444 #2e2e2e;
  scrollbar-width: thin;
}

#txtSearch::placeholder {
  color: #6a6a6a;
}
